.container {
  background-color: rgb(247, 247, 247);
  height: 100vh;
}

.placement {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin-top: 30px;
}

.rectangle {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.rectangle img {
   max-height: 80%;
   max-width: 80%;
   margin-left: 1rem;
 }
 
