.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: green;
    padding: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .navLogo {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .navLinks {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }
  
  .navLink {
    color: green;
    text-decoration: none;
    font-size: 1.2rem;
    margin-right: 1.5rem;
  }

  .link {
    margin-right: 0.5rem;
  }
  
  